<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="img/icon.ico">
    <title>Contact Form</title>
    <link rel="stylesheet" href="css/contact/style.css">
</head>

<body>
    <section>
        <div class="container">
            <form action="https://formspree.io/f/xknkbeop" id="test-form" method="POST">

                <div class="form-group">
                    <label for="firstName">Your Name</label>
                    <input type="text" id="firstName" name="Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="Email">
                </div>

                <div class="form-group">
                    <label for="lastName">Subject</label>
                    <input type="text" id="lastName" name="Subject">
                </div>

                <div class="form-group">
                    <label for="massage">Message</label>
                    <textarea name="massage" id="massage" rows="10" maxlength="200"></textarea>
                </div>

                <button type="submit" id="test-form-submit">Submit</button>
            </form>
        </div>
        <div id="status"></div>
    </section>
    <script src="scripts/contact/main.js"></script>
</body>

</html>

<!--https://formspree.io/forms-->